@import url('variables.css');

.header-picture {
    position: absolute;
   height: 100%;
   width: 40%;
   top: 0%;
   right: 5%; 
   margin: 0;
   z-index: 100;
   object-fit: cover;
   margin-right: -7%;
}

.header {
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    height: var(--header-height);
    background-color: rgb(34, 34, 34);
    transition: background-color 700ms ease-in-out;
    transition: z-index 700ms ease;
    z-index: 10;
    padding-left: 7%;
    margin-left: -7%;
    padding-top: 1em;
}

.top-wrapper {
    position: relative;
    height: 30%;
}

.header.scrolled {
    background-color: rgb(30,30,30);
    z-index: 1000;
}

a {
    text-decoration: none;
    color: white;
}

.header > h1 {
    display: inline-block;
    margin-right: 1em;
    text-transform: uppercase;
    font-family: Georgia, serif;
}

.header > * {
    text-transform: uppercase;
}

.header > nav {
    display: flex; 
    justify-content: space-between;
    width: 30%;
}

.header > nav > a {
    margin: 0 1rem;
    font-size: calc(var(--desktop-font-sm));
    padding: 0.4em 0.5em;
    border: transparent 1px solid;
    border-radius: 0.3em;
    transition: border 300ms ease;
}

.header > nav > a:hover {
    border: 1px white dashed;
}

.trigger {
    height: 1px;
    margin-top: 100px;
}

.checklist {
    display: flex;
    flex-direction: column;
    padding-top: calc(var(--header-height) + 10%);
    width: 50%;
}

.checklist > h1 {
    font-size: calc(var(--desktop-font-lg) * 2);
    margin: 0;
    font-family: Georgia, serif;

}

.checklist > h3 {
    font-size: calc(var(--desktop-font-lg) * 1.75);
}

.checklist > p {
    margin: 1em;
    vertical-align: baseline;
    display: flex;
    align-items: center;
}

/* .checklist > p::before {
    content: url('../public/check-icon.png');
    margin-right: 1em;
} */

.checklist > p > img {
    height: 2em;
    margin-right: 0.5em;
}

.top-info {
    width: 100%;
    margin-top: -1rem;
}

.element {
    font-size: var(--desktop-font-md);
}

.element > span {
    font-size: calc(var(--desktop-font-lg) * 1.5);
    margin: 0 0.25em;
}

.order-btn {
    padding: 1.5em 2em;
    margin-top: 2em;
    font-weight: bolder;
    font-size: var(--desktop-font-md);
    cursor: pointer;
    border-radius: 4px;
    border: none;
}

.cent-wrap > div {
    display: flex;
    flex-direction: column;
    height: 100%;
}


.mid-info {
    height: 40%;
    margin: 10% 0 5% -8%; 
    width: 100%;
    box-sizing: border-box;
}

.center-info {
    position: relative;
    display: block;
    overflow: auto;
    max-height: 100%;
    width: 100%;
    margin-bottom: 10%;
}

.center-info::-webkit-scrollbar {
    display: none;
}

.center-info > p {
    font-size: var(--desktop-font-lg);
    min-height: 15%;
    border-bottom: 1px solid gray;
    display: flex;
    align-items: center;
    
}

.center-info > p > img {
    height: 3em;
    margin-right: 1em;
}

.center-layer {
    padding-top: 5%;
    height: 40%;
    display: grid;
    position: relative;
    width: 107%;
    grid-template-columns: 34% 32% 34%;
    gap: 0.3em;
    box-sizing: border-box;
    margin-bottom: 10em;
}

.center-layer > img {
    object-fit: cover;
    width: 100%;
    height: auto;
    align-self: center;
    background-color: rgb(32,32,32);
}

.cent-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
    grid-template-rows: 1fr auto;
}

.cent-wrap > div {
    height: 100%;
}

.mid-order {
    width: 100%;
    padding: 1em;
    font-weight: bolder;
    border-radius: 4px;
    display: block;
    border: 0;
    align-self: end;
    justify-self: center;
    font-size: var(--desktop-font-lg);
    cursor: pointer;
    margin-top: 1em;
    margin: auto;
}

/* форма */

.form-wrapper {
    margin-left: -7%;
    display: flex;
    justify-content: center;
    height: 30%;
    width: 100%;
    aspect-ratio: 12/5;
}

.form-div {
    padding: 3vw 6vw;
    width: 70%;
    height: 60%;
    background-color: whitesmoke;
    border-radius: 0.25em;
    position: relative;
    background: #eee url('../public/picture4.jpg') no-repeat right;
    background-size: contain;
    margin-left: 7%;
}

.form-div > h1 {
    color: rgb(112, 113, 124);
    font-family: Georgia, serif;
    font-size: calc(var(--desktop-font-lg) * 1.4)
}

.form {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 60%;
}

.form > input[type=text], .form > input[type=email] {
    height: 3em;
    font-size: var(--desktop-font-md);
    padding: 0.5em 0 0.5em 1em;
    margin: 0.5em 0;
}

.accept-form {
    display: flex;
    align-items: center;
    margin: 0.6em 0;
}

.accept-form > input[type=checkbox] {
    height: 2em;
    width: 2em;
    margin-right: 1em;
    border: 3px rgb(27, 27, 27) solid;
    border-radius: 3px;
    cursor: pointer;
}

.submit-button {
    background-color: rgb(30, 30, 30);
    color: aliceblue;
    font-size: var(--desktop-font-md);
    padding: 1em 0px;
    border: 0px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 300ms ease;
}

.submit-button:hover {
    background-color: rgb(20, 19, 19);
}

.accept-form > input[type=checkbox] ~ label {
    color: black;
    width: 60%;
    font-size: var(--desktop-font-sm);
}

.picture-form {
    width: 100px;
}

.footer {
    margin-top: 5%;
}

.first-footer {
    display: flex;
    justify-content: center;
    outline: 0.01em solid white;
    margin: 0 -1% 0 -14%;
    padding: 1em;
}

.first-footer > a {
    margin: 1em 3em;
    text-transform: uppercase;
    font-size: var(--desktop-font-sm);
    border: 1px transparent solid;
    border-radius: 0.3em;
    padding: 0.3em 0.5em;
    transition: border 300ms ease;
}

.first-footer > a:hover {
    border: 1px white dashed;

}

.second-footer {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    margin: 2em 7% 0 0;
}

.second-footer > * {
    width: 33%;
}


.company-name {
    text-transform: uppercase;
    font-size: calc(var(--desktop-font-lg) * 1.5);
    margin: 0;
}

.social-media {
    display: flex;
    justify-content: center;
    margin: 0 0 0 -10%;
    height: 30%;
    align-items: center;
}

.social-wrapper {
    align-self: center;
    justify-self: center;
    margin-left: -7%;
}

.social-wrapper > p {
    font-size: var(--desktop-font-sm);
    text-align: center;
}

.social-media > a {
    width: calc(var(--desktop-font-lg) * 1.5);
    height: calc(var(--desktop-font-lg) * 1.5);
    margin: 0px 0.1em;
}

.social-media > a > img {
    width: calc(var(--desktop-font-lg) * 1.5);
    height: calc(var(--desktop-font-lg) * 1.5);
    margin: 0px 0.7em;
}

.terms {
    justify-self: center;
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: var(--desktop-font-sm);
}

.terms > button {
    padding: 0.5em 1em;
    text-transform: uppercase;
    font-size: var(--desktop-font-md);
    border-radius: 0.3em;
    border: none;
    cursor: pointer;
    font-weight: 200;
}

.terms > a {
    display: block;
    width: 50%;
    float: right;
    margin: 1em 0;
    text-align: center;
    padding: 0.3em 0.5em;
    border-radius: 0.3em;
    border: 1px transparent solid;
    transition: border 300ms ease;
}

.terms > a:hover {
    border: 1px white dashed;
}

button:not(.submit-button) {
    background-color: #ffffff;
    border: 1px #eee solid;
    transition: background-color 300ms ease;
    transition: border 300ms ease;
}

button:not(.submit-button):hover {
    background-color: #e4dfdf;
    border: 1px black solid
}



@media (max-width: 1366px) {
    /* .header-picture {
        height: 80%;
    } */

    .header {
        height: calc(var(--header-height) * 0.82);
    }

    .header > h1 {
        margin-right: 10%;
        font-size: var(--notebook-font-lg);
    }

    .header > nav {
        font-size: calc(var(--notebook-font-sm) * 0.5);
        width: calc(var(--nav-height) * 0.75);
    }

    .checklist > p {
        margin: 0.5em;
        font-size: var(--notebook-font-md)
    }

    .checklist > h1 {
        font-size: var(--notebook-font-lg);
    }

    .checklist > h3 {
        font-size: var(--notebook-font-md);
    }

    .element {
        font-size: var(--notebook-font-md);
    }

    .element > span {
        font-size: calc(var(--notebook-font-lg) * 1.3);
        margin: 0 0.25em;
    }

    .order-btn {
        font-size: var(--notebook-font-md);
        padding: 1em 2em;
        margin-top: 1.60em;
    }

    .center-info > p {
        font-size: var(--notebook-font-md);
    }

    .center-info > p > img {
        height: 0.5em;
    }

    .cent-wrap {
        height: 90%;
    }

    .mid-order {
        font-size: var(--notebook-font-lg);
    }

    .form-div {
        padding: 2em 3em;
    }

    .form-div > h1 {
        font-size: calc(var(--notebook-font-lg) * 1.4)
    }

    .form > input[type=text], .form > input[type=email] {
        font-size: var(--notebook-font-md);
    }

    .accept-form > input[type=checkbox] ~ label {
        font-size: var(--notebook-font-sm);
    }

    .first-footer > a {
        font-size: var(--notebook-font-sm);
        outline-width: 0.2em;
    }

    .company-name {
        font-size: calc(var(--notebook-font-lg) * 1.5);
    }

    .copyright {
        font-size: var(--notebook-font-sm);
    }

    .social-wrapper > p {
        font-size: var(--notebook-font-sm);
    }

    .terms > button {
        font-size: var(--notebook-font-md);
    }

    .terms > a {
        font-size: var(--notebook-font-sm);
    }

    .social-media > a > img {
        width: calc(var(--notebook-font-lg) * 1.5);
        height: calc(var(--notebook-font-lg) * 1.5);
    }

    .center-info > p > img {
        height: 2em;
        margin-right: 0.5em;
    }

    .accept-form {
        margin: 0.3em 0;
    }

    .checklist > p > img {
        height: 1.3em;
        margin-right: 0.3em;
    }

    .header > nav > a {
        margin: 0 1rem;
        font-size: calc(var(--notebook-font-sm) / 1.5);
    }
}

@media (max-width: 1024px) {

    /* .header-picture {
        height: 45%;
    } */
    
    .header {
        height: calc(var(--header-height) * 0.75);
    }

    .header > h1 {
        margin-right: 0.5em;
        font-size: var(--tablet-font-lg);
    }

    .header > nav {
        font-size: calc(var(--tablet-font-sm)* 0.6);
        width: calc(var(--nav-width) / 3);
    }

    .checklist {
        padding-top: calc(var(--header-height) + 10%);
    }

    .checklist > p {
        margin: 0.5em;
        font-size: var(--tablet-font-md)
    }

    .checklist > h1 {
        font-size: var(--tablet-font-lg);
    }

    .checklist > h3 {
        font-size: var(--tablet-font-md);
    }

    .element {
        font-size: var(--tablet-font-md);
    }

    .element > span {
        font-size: calc(var(--tablet-font-lg) * 1.5);
        margin: 0 0.25em;
    }

    .order-btn {
        font-size: var(--tablet-font-md);
    }

    .center-info > p {
        font-size: var(--tablet-font-sm);
    }

    .cent-wrap {
        height: 90%;
    }

    .mid-order {
        font-size: var(--tablet-font-lg);
        border-radius: 2px;
    }

    .form-div > h1 {
        font-size: calc(var(--tablet-font-sm));
    }

    .form > input[type=text], .form > input[type=email] {
        font-size: var(--tablet-font-sm);
    }

    .accept-form > input[type=checkbox] ~ label {
        font-size: var(--tablet-font-sm);
    }

    .accept-form > input[type=checkbox] {
        height: 1em;
        width: 1em;
    }

    .submit-button {
        font-size: var(--tablet-font-md);
        padding: 0.6em 0px;
    }

    .first-footer > a {
        font-size: var(--tablet-font-sm);
    }

    .company-name {
        font-size: calc(var(--tablet-font-lg) * 1.5);
    }

    .copyright {
        font-size: var(--tablet-font-sm)
    }
    
    .social-wrapper > p {
        font-size: var(--tablet-font-sm);
    }

    .terms > button {
        font-size: var(--tablet-font-md);
    }

    .terms > a {
        font-size: var(--tablet-font-sm);
    }

    .social-media > a > img {
        width: calc(var(--tablet-font-lg) * 1.5);
        height: calc(var(--tablet-font-lg) * 1.5);
    }

    .checklist > p > img {
        height: 1.3em;
        margin-right: 1em;
    }

    .header > nav > a {
        margin: 0 1rem;
        font-size: calc(var(--tablet-font-sm) / 1.5);
    }
}

@media (max-width: 767px) {
    /* .header-picture {
        height: 45%;
    } */

    .header {
        height: calc(var(--header-height) * 0.5);
    }

    .header > h1 {
        margin-right: 1em;
        font-size: var(--mini-tablet-font-lg);
    }

    .header > nav {
        font-size: calc(var(--mini-tablet-font-sm) * 0.5);
        width: calc(var(--nav-height) * 0.3);
    }
    .header > nav > a {
        margin: 0 10%;
    }

    .checklist {
        padding-top: calc(var(--header-height) + 20%);
    }

    .checklist > p {
        font-size: var(--mini-tablet-font-md)
    }

    .checklist > h1 {
        font-size: var(--mini-tablet-font-lg);
    }

    .checklist > h3 {
        font-size: var(--mini-tablet-font-md);
    }

    .element {
        font-size: var(--mini-tablet-font-md);
    }

    .element > span {
        font-size: calc(var(--mini-tablet-font-lg) * 1.5);
        margin: 0 0.25em;
    }

    .order-btn {
        font-size: var(--mini-tablet-font-md);
    }

    .center-info > p {
        font-size: var(--mini-tablet-font-sm);
    }

    .center-layer {
        margin-bottom: 3em;
    }

    .cent-wrap {
        height: 80%;
    }

    .mid-order {
        font-size: var(--mini-tablet-font-md);
    }

    .form-div {
        padding: 1em;
    }

    .form-div > h1 {
        font-size: calc(var(--mini-tablet-font-md));
    }

    .form > input[type=text], .form > input[type=email] {
        font-size: var(--mini-tablet-font-sm);
    }

    .accept-form > input[type=checkbox] ~ label {
        font-size: calc(var(--mini-tablet-font-sm) * 0.8);
    }
    
    .submit-button {
        font-size: var(--mini-tablet-font-sm);
        padding: 0.4em 0;
    }

    .first-footer > a {
        font-size: var(--mini-tablet-font-sm);
    }

    .company-name {
        font-size: calc(var(--mini-tablet-font-lg));
    }

    .copyright {
        font-size: var(--mini-tablet-font-sm)
    }

    .social-media > a > img {
    margin: 0 0.2em;
    }

    .social-wrapper > p {
        font-size: var(--mini-tablet-font-sm);
    }

    .terms > button {
        font-size: var(--mini-tablet-font-sm);
    }

    .terms > a {
        font-size: var(--mini-tablet-font-sm);
    }

    .social-media > a > img {
        width: calc(var(--mini-tablet-font-lg));
        height: calc(var(--mini-tablet-font-lg));
    }

    .accept-form > input[type=checkbox] {
        height: 1em;
        width: 1em;
        
    }

    .form > input[type=text], .form > input[type=email] {
        margin: 0.2em 0;
        padding: 0.2em 0 0.2em 0.5em;
    }

    .checklist > p > img {
        height: 1.5em;
        margin-right: 0.3em;
    }

    .header > nav > a {
        margin: 0 0.5rem;
        font-size: calc(var(--mini-tablet-font-sm) / 1.5);
    }
}

@media (max-width: 530px) {

    /* .header-picture {
        height: 25%;
    } */

    .header {
        height: calc(var(--header-height) * 0.25);
    }

    .header > h1 {
        margin-right: 0.5em;
        font-size: var(--mobile-font-md);
    }

    .header > nav {
        font-size: calc(var(--mobile-font-sm) * 0.7);
        width: calc(var(--nav-width) * 0.7);;
    }

    .header > nav > a {
        margin: 0 8%;
    }

    .checklist { 
        padding-top: calc(var(--header-height))
    }

    .checklist > p {
        font-size: var(--mobile-font-md);
        margin: 0.3em;
    }

    .checklist > h1 {
        font-size: var(--mobile-font-lg);
        margin: 0;
    }

    .checklist > h3 {
        font-size: var(--mobile-font-md);
        margin: 0.4em 0;
    }

    .element {
        font-size: var(--mobile-font-md);
    }

    .element > span {
        font-size: calc(var(--mobile-font-lg));
        margin: 0 0.25em;
    }

    .order-btn {
        font-size: calc(var(--mobile-font-sm) * 1.5);
        padding: 0.5em 0.8em;
        border-radius: 2px;
    }

    .center-info > p {
        font-size: calc(var(--mobile-font-md) * 0.8)
    }

    .mid-order {
        font-size: var(--mobile-font-md);
        padding: 0.3em;
    }

    .form-div {
        padding: 0.5em 0.5em;
    }

    .form-div > h1 {
        font-size: calc(var(--mobile-font-lg) * 1.4)
    }

    .form > input[type=text], .form > input[type=email] {
        font-size: calc(var(--mobile-font-sm) * 1.2);
    }

    .accept-form > input[type=checkbox] ~ label {
        font-size: var(--mobile-font-sm);
    }

    .submit-button {
        font-size: calc(var(--mobile-font-md) * 0.75);
    }

    .first-footer > a {
        font-size: var(--mobile-font-sm);
    }

    .company-name {
        font-size: calc(var(--mobile-font-lg));
    }

    .copyright {
        font-size: var(--mobile-font-sm)
    }

    .social-wrapper > p {
        font-size: var(--mobile-font-sm);
    }

    .terms > button {
        font-size: calc(var(--mobile-font-md)* 0.9);
    }

    .terms > a {
        font-size: var(--mobile-font-sm);
    }

    .social-media > a > img, .social-media > a {
        margin: 0;
    }

    .form-div > h1 {
        color: rgb(112, 113, 124);
        padding-bottom: 0;
        font-size: calc(var(--mobile-font-sm));
    }

    .accept-form {
        margin: 0.2em 0;
    }

    .accept-form > input[type=checkbox] {
        height: 0.5em;
        width: 0.5em;
        margin-right: 0.4em;
    }

    .checklist > p > img {
        height: 1.2em;
        margin-right: 0;
    }

    .header > nav > a {
        margin: 0 0.5rem;
        font-size: calc(var(--mobile-font-sm) / 1.5);
    }
}